<dl id="participantsList">
	<dt>A</dt>
	<dd>
		<ul>
			<li><input type="checkbox" class="check css-checkbox" id="alaor" /><label for="alaor" class="css-label">Alaor</label></li>
		</ul>
	</dd>
	<dt>B</dt>
	<dd>
		<ul>
			<li><input type="checkbox" class="check css-checkbox" id="bastiao" /><label for="bastiao" class="css-label">Bastiao</label></li>
			<li><input type="checkbox" class="check css-checkbox" id="bino" /><label for="bino" class="css-label">Bino</label></li>
		</ul>
	</dd>
	<dt>C</dt>
	<dd>
	</dd>
	<dt>D</dt>
	<dd>
		<ul>
			<li><input type="checkbox" class="check css-checkbox" id="dorneles" /><label for="dorneles" class="css-label">Dorneles</label></li>
			<li><input type="checkbox" class="check css-checkbox" id="dionatan" /><label for="dionatan" class="css-label">Dionatan</label></li>
			<li><input type="checkbox" class="check css-checkbox" id="doroteia" /><label for="doroteia" class="css-label">Doroteia</label></li>
		</ul>
	</dd>
	<dt>E</dt>
	<dd>
		<ul>
			<li><input type="checkbox" class="check css-checkbox" id="estevao" /><label for="estevao" class="css-label">Estevao</label></li>
			<li><input type="checkbox" class="check css-checkbox" id="edno" /><label for="edno" class="css-label">Edno</label></li>
		</ul>
	</dd>
</dl>