<dl id="events">
	
	<dt>10:00</dt>
	<dd>CELEPAR</dd>

	<dt>11:00</dt>
	<dd>
		<ul>
			<li>João Silva</li>
			<li>Maria Souza</li>
		</ul>
	</dd>

	<dt>14:00</dt>
	<dd>
		<ul>
			<li>Pedro Alvares</li>
			<li>Cristóvão Colombo</li>
			<li>Américo Vespúcio</li>
		</ul>
	</dd>

	<dt>18:00</dt>
	<dd>
		<ul>
			<li>jQuery</li>
			<li>PhoneGap</li>
			<li>iScroll</li>
		</ul>
	</dd>

</dl>