<ul id="events">
	
	<li>
		<a href="./templates/agenda-evento-detalhes.ejs" title="Ver evento">
			<div class="hourly">
				<strong class="start">10:00</strong>
				<strong class="end">11:00</strong>
			</div>
			<span>Reuni達o</span>
		</a>
	</li>
	<li>
		<a href="./templates/agenda-evento-detalhes.ejs" title="Ver evento">
			<div class="hourly">
				<strong class="start">11:00</strong>
				<strong class="end">11:30</strong>
			</div>
			<span>Reuni達o 2</span>
		</a>
	</li>
	<li>
		<a href="./templates/agenda-evento-detalhes.ejs" title="Ver evento">
			<div class="hourly">
				<strong class="start">14:00</strong>
				<strong class="end">15:30</strong>
			</div>
			<span>Reuni達o de pauta</span>
		</a>
	</li>
	<li>
		<a href="./templates/agenda-evento-detalhes.ejs" title="Ver evento">
			<div class="hourly">
				<strong class="start">15:30</strong>
				<strong class="end">16:00</strong>
			</div>
			<span>Coffee Break</span>
		</a>
	</li>
	<li>
		<a href="./templates/agenda-evento-detalhes.ejs" title="Ver evento">
			<div class="hourly">
				<strong class="start">16:30</strong>
				<strong class="end">17:30</strong>
			</div>
			<span>Reuni達o da tarde</span>
		</a>
	</li>
	<li>
		<a href="./templates/agenda-eventos-completa.ejs" title="Ver evento" class="see_all">
			<span class="complete">Ver tudo</span>
		</a>
	</li>

</ul>

