<table id="eventDetails"> 
	<tr>
		<td class="item">
			Início
		</td>
		<td class="description">
			08/08/2013 - 10:00
		</td>
	</tr> 
	<tr>
		<td class="item">
			Término
		</td>
		<td class="description">
			08/08/2013 - 11:00
		</td>
	</tr> 
	<tr>
		<td class="item">
			Local
		</td>
		<td class="description">
			Sala de reunião - Térreo
		</td>
	</tr> 
	<tr>
		<td class="item">
			Prioridade
		</td>
		<td class="description">
			Normal
		</td>
	</tr> 
	<tr>
		<td class="item">
			Acesso
		</td>
		<td class="description">
			Público
		</td>
	</tr> 
	<tr>
		<td class="item">
			Participantes
		</td>
		<td class="description">
			Dionatan, Bastião, Alaor
		</td>
	</tr> 
	<tr>
		<td class="item">
			Criado por
		</td>
		<td class="description">
			Alaor
		</td>
	</tr>  
	<tr>
		<td class="item">
			Descrição
		</td>
		<td class="description">
			Reunião para falar sobre as ações futuras
		</td>
	</tr> 
	
</table>