<dl id="contactsList" class="personal">
	<dt>A</dt>
	<dd>
		<ul>
			<li>
				<a href="./templates/contatos-detalhes.ejs">
					<img src="./images/contact.jpg" alt="Alaor" />
					<div class="info">
						<span class="name">Alaor</span>
						<span class="email">alaor@celepar.pr.gov.br</span>
					</div>
				</a>
			</li>
		</ul>
	</dd>
	<dt>B</dt>
	<dd>
		<ul>
			<li>
				<a href="./templates/contatos-detalhes.ejs">
					<img src="./images/contact1.jpg" alt="Bastiao" />
					<div class="info">
						<span class="name">Bastiao</span>
						<span class="email">bastiao@celepar.pr.gov.br</span>
					</div>
				</a>
			</li>
			<li>
				<a href="./templates/contatos-detalhes.ejs">
					<img src="./images/contact.jpg" alt="Bino" />
					<div class="info">
						<span class="name">Bino</span>
						<span class="email">bino@celepar.pr.gov.br</span>
					</div>
				</a>
			</li>
		</ul>
	</dd>
	<dt>C</dt>
	<dd>
	</dd>
	<dt>D</dt>
	<dd>
		<ul>
			<li>
				<a href="./templates/contatos-detalhes.ejs">
					<img src="./images/contact1.jpg" alt="Dorneles" />
					<div class="info">
						<span class="name">Dorneles</span>
						<span class="email">dorneles@celepar.pr.gov.br</span>
					</div>
				</a>
			</li>
			<li>
				<a href="./templates/contatos-detalhes.ejs">
					<img src="./images/contact.jpg" alt="Dionatan" />
					<div class="info">
						<span class="name">Dionatan</span>
						<span class="email">dionatan@celepar.pr.gov.br</span>
					</div>
				</a>
			</li>
			<li>
				<a href="./templates/contatos-detalhes.ejs">
					<img src="./images/contact1.jpg" alt="Doroteia" />
					<div class="info">
						<span class="name">Doroteia</span>
						<span class="email">doroteia@celepar.pr.gov.br</span>
					</div>
				</a>
			</li>
		</ul>
	</dd>
	<dt>E</dt>
	<dd>
		<ul>
			<li>
				<a href="./templates/contatos-detalhes.ejs">
					<img src="./images/contact.jpg" alt="Estevao" />
					<div class="info">
						<span class="name">Estevao</span>
						<span class="email">estevao@celepar.pr.gov.br</span>
					</div>
				</a>
			</li>
			<li>
				<a href="./templates/contatos-detalhes.ejs">
					<img src="./images/contact1.jpg" alt="Édno" />
					<div class="info">
						<span class="name">Édno</span>
						<span class="email">edno@celepar.pr.gov.br</span>
					</div>
				</a>
			</li>
		</ul>
	</dd>
</dl>