<form id="resultsPage">
	<ol>
		<li>
			<input type="checkbox" id="qtde_10" name="resultadosPagina" class="css-checkbox" value="10" />
			<label class="css-label" for="qtde_10">10</label>

		</li>
		<li>
			<input type="checkbox" id="qtde_30" name="resultadosPagina" class="css-checkbox" value="30" />
			<label class="css-label" for="qtde_30">30</label>
		</li>
		<li>
			<input type="checkbox" id="qtde_50" name="resultadosPagina" class="css-checkbox" value="50" />
			<label class="css-label" for="qtde_50">50</label>
		</li>
		<li>
			<input type="checkbox" id="qtde_100" name="resultadosPagina" class="css-checkbox" value="100" />
			<label class="css-label" for="qtde_100">100</label>
		</li>
	</ol>
</form>